@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=PT+Sans:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.articles .wrapper {
  max-width: 1200px;
}
.articles .wrapper .articles-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.articles .wrapper .articles-wrapper .article-card {
  background-color: #fbfbfb;
  box-sizing: border-box;
  min-width: 620px;
  max-height: 250px;
  padding: 35px 48px;
  position: relative;
  margin-bottom: 138px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-img {
  position: relative;
}
.articles .wrapper .articles-wrapper .article-card .article-card-img .article-card-thumb {
  left: -45px;
  top: -100px;
  position: absolute;
  mix-blend-mode: multiply;
}
.articles .wrapper .articles-wrapper .article-card .article-card-img .article-card-thumb:first-child {
  top: -90px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info {
  gap: 15px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-title {
  max-width: 140px;
  text-align: end;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-title .article-card-info-title-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-description {
  max-width: 300px;
  text-align: end;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-description .article-card-info-description-text {
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-button {
  margin-top: 1rem;
  align-self: flex-end;
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 26px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-button:hover {
  background: #398b4a;
}
.articles .wrapper .articles-wrapper .article-card .article-card-info .article-card-info-button .article-card-info-button-text {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.articles .wrapper .articles-wrapper .article-card .article-card-circles-img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.blog-posts .wrapper {
  max-width: 1200px;
}
.blog-posts .wrapper .blog-posts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-text {
  gap: 15px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-text .blog-posts-text-title .blog-posts-text-title-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-text .blog-posts-text-description .blog-posts-text-description-text {
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 363px;
  max-width: 268px;
  background-color: #fbfbfb;
  padding-bottom: 13px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card:nth-child(3) .blog-posts-posts-card-text .blog-posts-posts-card-text-readmore {
  color: #46a358;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card .blog-posts-posts-card-text {
  margin-top: 9px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card .blog-posts-posts-card-text .blog-posts-posts-card-text-reading {
  color: #46a358;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card .blog-posts-posts-card-text .blog-posts-posts-card-text-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  max-width: 189px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card .blog-posts-posts-card-text .blog-posts-posts-card-text-description {
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 230px;
  margin-bottom: 5px;
}
.blog-posts .wrapper .blog-posts-wrapper .blog-posts-posts .blog-posts-posts-card .blog-posts-posts-card-text .blog-posts-posts-card-text-readmore {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
}

.footer .wrapper {
  max-width: 1200px;
}
.footer .wrapper .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .wrapper .footer-wrapper .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px;
  gap: 62px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-card .footer-info-card-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-card .footer-info-card-description {
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-line {
  width: 1px;
  height: 187px;
  background: rgba(70, 163, 88, 0.1);
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-subscribe {
  position: relative;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-subscribe .footer-info-news-subscribe-input {
  min-width: 354px;
  border: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  padding: 11px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-subscribe .footer-info-news-subscribe-input::placeholder {
  color: #acacac;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-subscribe .footer-info-news-subscribe-button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 6px 6px 0px;
  background: #46a358;
  padding: 12px 26px;
  border: 0;
  color: #fff;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-subscribe .footer-info-news-subscribe-button:hover {
  background: #3d924e;
}
.footer .wrapper .footer-wrapper .footer-info .footer-info-news .footer-info-news-description {
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer .wrapper .footer-wrapper .footer-contacts {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  background: rgba(70, 163, 88, 0.1);
  padding: 27px 23px;
  gap: 90px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-adress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  max-width: 185px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-adress .footer-contacts-adress-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  max-width: 185px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-email .footer-contacts-email-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  max-width: 185px;
}
.footer .wrapper .footer-wrapper .footer-contacts .footer-contacts-number .footer-contacts-number-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer .wrapper .footer-wrapper .footer-help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
  gap: 164px;
  padding: 33px 23px;
  background-color: #fbfbfb;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-account .footer-help-list-account-title {
  margin-bottom: 8px;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-account .footer-help-list-account-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-account .footer-help-list-account-list > * {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-help .footer-help-list-help-title {
  margin-bottom: 8px;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-help .footer-help-list-help-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-help .footer-help-list-help-list > * {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-categories .footer-help-list-categories-title {
  margin-bottom: 8px;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-categories .footer-help-list-categories-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-list .footer-help-list-categories .footer-help-list-categories-list > * {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 33px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money .footer-help-money-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money .footer-help-money-media .footer-help-money-media-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money .footer-help-money-media .footer-help-money-media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money .footer-help-money-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 13px;
}
.footer .wrapper .footer-wrapper .footer-help .footer-help-money .footer-help-money-payment .footer-help-money-payment-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.header {
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.header .wrapper .header-wrapper {
  max-width: 1200px;
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 240px;
  position: relative;
}
.header .wrapper .header-wrapper .header-line {
  position: absolute;
  width: 1200px;
  height: 0.3px;
  background: rgba(70, 163, 88, 0.5);
  bottom: -15px;
}
.header .wrapper .header-wrapper > * {
  display: flex;
  flex-direction: row;
}
.header .wrapper .header-wrapper .header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.header .wrapper .header-wrapper .header-nav > .header-nav-el > .header-nav-el-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .wrapper .header-wrapper .header-nav > .header-nav-el > .header-nav-selection-line {
  position: absolute;
  width: 45px;
  height: 3px;
  bottom: -25px;
  background: #46a358;
}
.header .wrapper .header-wrapper .header-tools {
  margin-left: 32px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .wrapper .header-wrapper .header-tools .header-tools-cart-thumb {
  position: relative;
}
.header .wrapper .header-wrapper .header-tools .header-tools-cart-thumb .header-tools-cart-thumb-notice-thumb {
  position: absolute;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .wrapper .header-wrapper .header-tools .header-tools-cart-thumb .header-tools-cart-thumb-notice-thumb .notitia-num {
  position: absolute;
  color: #fff;
  font-family: PT Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .wrapper .header-wrapper .header-tools .header-tools-login {
  margin-left: 5px;
}
.header .wrapper .header-wrapper .header-tools .header-tools-login .header-tools-login-button {
  border-radius: 6px;
  background: #46a358;
  border: 0;
  padding: 8px 17px;
}
.header .wrapper .header-wrapper .header-tools .header-tools-login .header-tools-login-button .header-tools-login-button-text {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main .wrapper {
  max-width: 1200px;
  margin-bottom: 146px;
}
.main .wrapper .main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main .wrapper .main-wrapper .main-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 18px;
  background: #fbfbfb;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el {
  display: flex;
  justify-content: space-between;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale {
  padding: 18px 22px;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}
.main .wrapper .main-wrapper .main-plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: _;
  gap: 38px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 33px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 258px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb {
  width: 258px;
  height: 300px;
  background: #fbfbfb;
  box-sizing: border-box;
  position: relative;
  object-fit: cover;
  margin-bottom: 12px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb .main-plants-goods-card-img {
  mix-blend-mode: multiply;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb .main-plants-goods-card-thumb-icons {
  display: none;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-line {
  position: absolute;
  top: 0;
  background: #46a358;
  width: 258px;
  height: 1px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons {
  position: absolute;
  bottom: 0;
  left: 21%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons .main-plants-goods-card-thumb-icons-thumb {
  background: none;
  border: none;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons .main-plants-goods-card-thumb-icons-thumb .main-plants-goods-card-thumb-icons-img:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(52%) saturate(441%) hue-rotate(80deg) brightness(98%) contrast(96%);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc .main-plants-goods-card-desc-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc .main-plants-goods-card-desc-price {
  color: #46a358;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: 0;
  border: 0;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:hover, .main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:active {
  color: #46a358;
  font-weight: 700;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:hover::before, .main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:active::before {
  content: "";
  display: block;
  border-bottom: 2px solid #46a358;
  position: relative;
  top: 25px;
  max-width: 100px;
  width: 100%;
  box-sizing: border-box;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-sort .main-plants-sorting-sort-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-sort .main-plants-sorting-sort-select {
  background: none;
  border: none;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}
.welcome .welcome-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.welcome .welcome-wrapper .welcome-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 148px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-header {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-agitation {
  max-width: 530px;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-agitation .welcome-main-agitation-planet {
  color: #46a358;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-description {
  max-width: 500px;
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-self: flex-start;
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 26px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button:hover {
  background: #398b4a;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button .welcome-main-button-text {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs {
  position: relative;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs .welcome-main-thumb .welcome-main-img {
  max-height: 450px;
  object-fit: none;
  object-position: 0px -83px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs .welcome-main-thumb-second {
  position: absolute;
  top: 263px;
  left: 50px;
}
.welcome .welcome-wrapper .welcome-selection {
  position: absolute;
  bottom: 0;
}

.copyright .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 13px 0;
}
.copyright .wrapper .copyright-text {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}