@import "../mixins.scss";

.header {
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  .wrapper {
    .header-wrapper {
      max-width: 1200px;
      padding-top: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 240px;
      position: relative;
      .header-line {
        position: absolute;
        width: 1200px;
        height: 0.3px;
        background: rgba(70, 163, 88, 0.5);

        bottom: -15px;
      }
      & > * {
        display: flex;
        flex-direction: row;
      }
      .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: relative;

        & > .header-nav-el > .header-nav-el-text {
          @include typography(#3d3d3d, 16px, 400, normal);
        }
        & > .header-nav-el > .header-nav-selection-line {
          position: absolute;
          width: 45px;
          height: 3px;
          bottom: -25px;
          background: #46a358;
        }
      }
      .header-tools {
        margin-left: 32px;
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .header-tools-cart-thumb {
          position: relative;
          .header-tools-cart-thumb-notice-thumb {
            position: absolute;
            right: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .notitia-num {
              position: absolute;
              @include typography(#fff, 10px, 500, normal);
            }
          }
        }
        .header-tools-login {
          margin-left: 5px;
          .header-tools-login-button {
            border-radius: 6px;
            background: #46a358;
            border: 0;
            padding: 8px 17px;
            .header-tools-login-button-text {
              @include typography(#fff, 16px, 500, normal);
            }
          }
        }
      }
    }
  }
}
