@import "../mixins.scss";

.main {
  .wrapper {
    max-width: 1200px;
    margin-bottom: 146px;
    .main-wrapper {
      @include flex_center(row, center);
      gap: 50px;
      .main-selector {
        @include flex_center(column, center);
        .main-selector-select {
          @include flex_center(column, start);
          padding: 18px;
          background: #fbfbfb;
          .main-selector-select-categories {
            .main-selector-select-categories-select {
              .main-selector-select-categories-select-el {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
        .main-selector-sale {
          padding: 18px 22px;
          background: linear-gradient(
            180deg,
            rgba(70, 163, 88, 0.1) 0%,
            rgba(70, 163, 88, 0.03) 100%
          );
        }
      }
      .main-plants {
        @include flex_center(column, _);

        gap: 38px;
        .main-plants-goods {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 33px;
          .main-plants-goods-card {
            @include flex_center(column, start);
            max-width: 258px;
            .main-plants-goods-card-thumb {
              width: 258px;
              height: 300px;
              background: #fbfbfb;
              box-sizing: border-box;
              position: relative;
              object-fit: cover;
              margin-bottom: 12px;
              .main-plants-goods-card-img {
                mix-blend-mode: multiply;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .main-plants-goods-card-thumb-icons {
                display: none;
              }
              &:hover {
                .main-plants-goods-card-thumb-line {
                  position: absolute;
                  top: 0;
                  background: #46a358;
                  width: 258px;
                  height: 1px;
                }
                .main-plants-goods-card-thumb-icons {
                  position: absolute;
                  bottom: 0;
                  left: 21%;
                  @include flex_center(row, center);
                  gap: 20px;

                  .main-plants-goods-card-thumb-icons-thumb {
                    background: none;
                    border: none;
                    .main-plants-goods-card-thumb-icons-img:hover {
                      filter: brightness(0) saturate(100%) invert(50%)
                        sepia(52%) saturate(441%) hue-rotate(80deg)
                        brightness(98%) contrast(96%);
                    }
                  }
                }
              }
            }
            .main-plants-goods-card-desc {
              @include flex_center(column, start);

              gap: 6px;
              .main-plants-goods-card-desc-title {
                @include typography(#3d3d3d, 16px, 400, 16px);
              }
              .main-plants-goods-card-desc-price {
                @include typography(#46a358, 18px, 700, 16px);
              }
            }
          }
        }

        .main-plants-sorting {
          @include flex_center(row, center);

          justify-content: space-between;
          .main-plants-sorting-plants {
            @include flex_center(row, center);

            gap: 40px;
            .main-plants-sorting-choice {
              @include typography(#3d3d3d, 16px, 400, 16px);

              background: 0;
              border: 0;
              &:hover,
              &:active {
                color: #46a358;
                font-weight: 700;
                &::before {
                  content: "";
                  display: block;
                  border-bottom: 2px solid #46a358;
                  position: relative;
                  top: 25px;
                  max-width: 100px;
                  width: 100%;
                  box-sizing: border-box;
                }
              }
            }
          }
          .main-plants-sorting-sort {
            .main-plants-sorting-sort-title {
              @include typography(#3d3d3d, 16px, 400, 16px);
            }
            .main-plants-sorting-sort-select {
              background: none;
              border: none;
              @include typography(#3d3d3d, 16px, 400, 16px);
            }
          }
        }
      }
    }
  }
}
