@import "../mixins.scss";

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .welcome-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      gap: 148px;
      .welcome-main-interactive {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .welcome-main-header {
          @include typography(#3d3d3d, 14px, 500, 16px);
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
        .welcome-main-agitation {
          max-width: 530px;
          @include typography(#3d3d3d, 70px, 900, 70px);
          text-transform: uppercase;
          .welcome-main-agitation-planet {
            color: #46a358;
          }
        }
        .welcome-main-description {
          max-width: 500px;
          @include typography(#727272, 14px, 400, 24px);
        }
        .welcome-main-button {
          margin-top: 2rem;
          margin-bottom: 4rem;
          align-self: flex-start;
          border: none;
          border-radius: 6px;
          background: #46a358;
          padding: 11px 26px;
          &:hover {
            background: #398b4a;
          }
          .welcome-main-button-text {
            @include typography(#fff, 16px, 700, 20px);

            text-transform: uppercase;
          }
        }
      }

      .welcome-main-imgs {
        position: relative;
        .welcome-main-thumb {
          .welcome-main-img {
            max-height: 450px;
            object-fit: none;
            object-position: 0px -83px;
          }
        }
        .welcome-main-thumb-second {
          position: absolute;
          top: 263px;
          left: 50px;
        }
      }
    }
    .welcome-selection {
      position: absolute;
      bottom: 0;
    }
  }
}
