@import url("../../assets/fonts/Hanging_Letters.ttf");
.main .wrapper {
  max-width: 1200px;
  margin-bottom: 146px;
}
.main .wrapper .main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.main .wrapper .main-wrapper .main-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 36px;
  padding: 14px 18px;
  background: #fbfbfb;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 310px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 10px;
  user-select: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: _;
  padding-left: 12px;
  width: 256px;
  justify-content: space-between;
  background: none;
  border: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el:hover, .main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el:focus {
  cursor: default;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el:hover > *, .main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el:focus > * {
  color: #46a358;
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el > * {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  user-select: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  user-select: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 12px;
  gap: 15px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest .main-selector-select-price-range-inputs .main-selector-select-price-range-input-one::-webkit-slider-thumb {
  background-color: #46a358;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest .main-selector-select-price-range-price .main-selector-select-price-range-price-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest .main-selector-select-price-range-price .main-selector-select-price-range-price-title .main-selector-select-price-range-price-money {
  color: #46a358;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest .main-selector-select-price-range-button {
  display: flex;
  padding: 8px 26px;
  border-radius: 6px;
  border: none;
  background: #46a358;
  border-radius: 6px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-price-range .main-selector-select-price-range-rest .main-selector-select-price-range-button .main-selector-select-price-range-button-text {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: _;
  padding-left: 12px;
  width: 256px;
  justify-content: space-between;
  background: none;
  border: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category:hover, .main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category:focus {
  cursor: default;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category:hover > *, .main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category:focus > * {
  color: #46a358;
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-size .main-selector-select-size-select .main-selector-select-size-select-category > * {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 18px 22px;
  max-width: 310px;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
  cursor: pointer;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale .main-selector-sale-title {
  color: #46a358;
  font-family: PT Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  font-family: "Hanging Letters";
  margin-bottom: 11px;
  user-select: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale .main-selector-sale-discount {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  user-select: none;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale .main-selector-sale-img {
  object-fit: cover;
  mix-blend-mode: multiply;
}
.main .wrapper .main-wrapper .main-plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: _;
  gap: 38px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 33px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 258px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb {
  width: 258px;
  height: 300px;
  background: #fbfbfb;
  box-sizing: border-box;
  position: relative;
  object-fit: cover;
  margin-bottom: 12px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb .main-plants-goods-card-img {
  mix-blend-mode: multiply;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb .main-plants-goods-card-thumb-icons {
  display: none;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-line {
  position: absolute;
  top: 0;
  background: #46a358;
  width: 258px;
  height: 1px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons {
  position: absolute;
  bottom: 0;
  left: 21%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons .main-plants-goods-card-thumb-icons-thumb {
  background: none;
  border: none;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-thumb:hover .main-plants-goods-card-thumb-icons .main-plants-goods-card-thumb-icons-thumb .main-plants-goods-card-thumb-icons-img:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(52%) saturate(441%) hue-rotate(80deg) brightness(98%) contrast(96%);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc .main-plants-goods-card-desc-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc .main-plants-goods-card-desc-price {
  color: #46a358;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: 0;
  border: 0;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:hover, .main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:active {
  color: #46a358;
  font-weight: 700;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:hover::before, .main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-plants .main-plants-sorting-choice:active::before {
  content: "";
  display: block;
  border-bottom: 2px solid #46a358;
  position: relative;
  top: 25px;
  max-width: 100px;
  width: 100%;
  box-sizing: border-box;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-sort .main-plants-sorting-sort-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-sorting .main-plants-sorting-sort .main-plants-sorting-sort-select {
  background: none;
  border: none;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}