.main .wrapper {
  max-width: 1200px;
}
.main .wrapper .main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main .wrapper .main-wrapper .main-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 18px;
  background: #fbfbfb;
}
.main .wrapper .main-wrapper .main-selector .main-selector-select .main-selector-select-categories .main-selector-select-categories-select .main-selector-select-categories-select-el {
  display: flex;
  justify-content: space-between;
}
.main .wrapper .main-wrapper .main-selector .main-selector-sale {
  padding: 18px 22px;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card {
  display: flex;
  flex-direction: column;
  max-width: 258px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc-title {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.main .wrapper .main-wrapper .main-plants .main-plants-goods .main-plants-goods-card .main-plants-goods-card-desc-price {
  color: #46a358;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}