.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}
.welcome .welcome-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.welcome .welcome-wrapper .welcome-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 148px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-header {
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-agitation {
  max-width: 530px;
  color: #3d3d3d;
  font-family: PT Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-agitation .welcome-main-agitation-planet {
  color: #46a358;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-description {
  max-width: 500px;
  color: #727272;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-self: flex-start;
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 26px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button:hover {
  background: #398b4a;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-interactive .welcome-main-button .welcome-main-button-text {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs {
  position: relative;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs .welcome-main-thumb .welcome-main-img {
  max-height: 450px;
  object-fit: none;
  object-position: 0px -83px;
}
.welcome .welcome-wrapper .welcome-main .welcome-main-imgs .welcome-main-thumb-second {
  position: absolute;
  top: 263px;
  left: 50px;
}
.welcome .welcome-wrapper .welcome-selection {
  position: absolute;
  bottom: 0;
}